.review-detail {
  width: 100%;
  margin: -30px auto;
  background: #fff;
}

.review-detail-question {
  width: 100%;
  height: 650px;
  padding: 36px;
  box-sizing: border-box;
}

.question-title {
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 3px solid #ccc;
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;

  span {
    margin-right: 12px;
    font-size: 5rem;
    color: #403a6b;
  }
}

.question-content {
  width: 100%;
  height: calc(100% - 5rem - 36px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.content-code {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 3px solid #888;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  background: #333;
  line-height: 1.5rem;
}

.content-desc {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Jua", sans-serif;
  line-height: 3.5rem;
  white-space: pre-wrap;
}

.review-detail-answer {
  width: 100%;
  height: 500px;
  border: 2px solid red;
  background: #f8f8f7;
}
