.review-detail {
  width: 100%;
  background: #fff;
}

.review-detail-question {
  width: 100%;
  border-bottom: 2px solid #eee;
}

.question-title {
  max-width: 1000px;
  padding: 24px 0;
  margin: 0 auto;
  border-bottom: 2px solid #eee;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  span {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(64, 58, 107, 0.8);
  }
}

.question-content {
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.content-code {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 8px;
  background: #333;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  white-space: pre-wrap;
  line-height: 1.5rem;
}

.detail-code-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.code-modal-background {
  width: 100%;
  height: 100%;
  background: #888;
  opacity: 0.5;
}

.code-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  min-height: 500px;
  padding: 36px;
  border: 5px solid #eee;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #eee;
  background: #333;
  line-height: 2.2rem;
  transform: translate(-50%, -50%);
}

.content-desc {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Jua", sans-serif;
  color: #333;
  white-space: pre-wrap;
  line-height: 2.2rem;
}

.question-tags {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.review-detail-answer {
  position: relative;
  width: 100%;
  background: #f8f8f7;
}

.answer-title {
  max-width: 1000px;
  padding: 24px 0;
  margin: 0 auto;
  border-bottom: 2px solid #eee;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  span {
    font-size: 5rem;
    font-weight: bold;
    color: rgb(64, 58, 107, 0.8);
  }
}

.answer-content {
  max-width: 1000px;
  padding: 24px;
  margin: 24px auto;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
