.header {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.header-nav,
.header-bacground {
  position: fixed;
  top: 0;
  left: 0;
}

.header-nav {
  width: 100%;
  padding: 36px;
  box-sizing: border-box;
  color: #eee;

  &.hide {
    color: #333;
  }
}

.header-link {
  position: absolute;
  top: 24px;
  left: 36px;
  padding-top: 12px;
  font-size: 1.4rem;
  font-weight: bold;
}

.header-menu {
  position: absolute;
  top: 24px;
  right: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: bold;

  & + & {
    margin-left: 12px;
  }

  &.login {
    border-radius: 8px;
    background: #eee;
    color: #333;
  }
}

.header-background {
  width: 100%;
  height: 800px;
  padding: 36px;
  box-sizing: border-box;
  background-color: #403a6b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all 0.8s ease-in-out;

  &.hide {
    opacity: 0;
  }
}

.header-intro-main-title {
  margin-bottom: 36px;
  font-size: 4.6rem;
  font-weight: bold;
  color: #eee;
}

.header-intro-sub-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #eee;
}

.header-plant-icons {
  display: inline-block;
  width: 450px;
  height: 450px;
  border: 3px solid #eee;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  animation: rotate_image 6s linear infinite;
}

#sun {
  width: 350px;
  height: 350px;
  border: 5px solid #333;
  border-radius: 100%;
  background: #ffff00;
}

#moon {
  position: absolute;
  top: -36px;
  width: 50px;
  height: 50px;
  border: 5px solid #333;
  border-radius: 100%;
  background: #777;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
