@import "../../../utils/mixin";

.tag {
  max-width: 120px;
  max-height: 36px;
  display: inline-block;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 8px;
  background: rgb(64, 58, 107, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-title {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #eee;
}

@include tablet {
  .tag {
    max-width: 80px;
    max-height: 30px;
  }

  .tag-title {
    font-size: 0.6rem;
  }
}
