.editor-code {
  position: absolute;
  margin: 0;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  padding: 0.5em;
  border: none;
  outline: none;
  background: #333;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: monospace;
  color: #eee;
  caret-color: red;
  z-index: 0;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: auto;
}

.editor-code-button {
  width: 100%;
  height: 20px;
}

.hg-block-code {
  color: #a374db;
}

.hg-return-code {
  color: #a374db;
}

.hg-gate-code {
  color: #5cffd1;
}

.hg-function-code {
  color: #4b89dc;
}

.hg-conditional-code {
  color: #a374db;
}

.hg-parenthesis-function-code {
  color: #db4455;
}

.hg-bracket-var-code {
  color: #db4455;
}

.hg-var-code {
  color: #a374db;
}

.hg-null-code {
  color: orange;
}

.hg-num-code {
  color: #ff7f00;
}

.hg-parenthesis-code {
  color: #fff;
}

.hg-brackets-code {
  color: #fff;
}

.hg-not-equal-code {
  color: #eee;
}
